---
BasedOnStyle: WebKit
Standard: c++20

Cpp11BracedListStyle: true
NamespaceIndentation: All
IndentExternBlock: Indent
IndentRequiresClause: false
RequiresClausePosition: WithPreceding
SpaceBeforeCpp11BracedList: false
SpaceAfterTemplateKeyword: false

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: "^<meorawr/hyjal/"
    Priority: 2
  - Regex: "^<(fmt|lua)[/\\.]"
    Priority: 3
  - Regex: "<[[:alnum:]_-]+>"
    Priority: 4
  - Regex: "<[[:alnum:]_-]+\\."
    Priority: 5
